[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Lamp installation on Ubuntu 16.04 and CentOS 7
[access "refs/*"]
	owner = group user/Sudhams Reddy Duba (dubareddy)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Sudhams Reddy Duba (dubareddy)
	label-Verified = -1..+1 group user/Sudhams Reddy Duba (dubareddy)
	push = group user/Sudhams Reddy Duba (dubareddy)
	read = group user/Sudhams Reddy Duba (dubareddy)
	rebase = group user/Sudhams Reddy Duba (dubareddy)
	removeReviewer = group user/Sudhams Reddy Duba (dubareddy)
	submit = group user/Sudhams Reddy Duba (dubareddy)
[access "refs/heads/*"]
	create = group user/Sudhams Reddy Duba (dubareddy)
	push = +force group user/Sudhams Reddy Duba (dubareddy)
	pushMerge = group user/Sudhams Reddy Duba (dubareddy)
	read = group user/Sudhams Reddy Duba (dubareddy)
[access "refs/tags/*"]
	push = group user/Sudhams Reddy Duba (dubareddy)
	push = +force group user/Sudhams Reddy Duba (dubareddy)
